$black: #000000;
$blackish: #111111;
$blue-gray: rgb(77, 87, 103);
$blue-facebook: #48588F;
$red: #BE3F3F;
$gray-light: #B3ACAB;
$gray-27: #454545;
$gray-dark: #333;
$gray-darkest: #1f1f1f;
$gray-charcoal: #232020;
$gray-black-button-border: #564E4D;
$gray-header-border: #413A39;
$white: #FFFFFF;
$off-white: rgb(204, 197, 196);

$font-weight-light: 200;
$font-weight-heavy: 600;
$background-color: $black;
$border-color: $gray-27;
$font-color: $gray-light;
$font-size-body: 4vw;
$line-height-body: 1.4em;
$header-color: $white;
$text-shadow-color: $blackish;
$web-tap-highlight-color: transparent;
