$icon-font-path: '../fonts/';

// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
/*@import 'mixins';*/
/*@import 'play_button';*/
/*@import 'buttons';*/
/*@import 'library';*/
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
.modal-backdrop.in {
  opacity: 0.9;
}

#videoModal.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}

/* =============================================================
   We are injecting this into the page  so it all needs to
   be namespaced under the id of the modal
   =========================================================== */
#videoModal {
  font-family: "Raleway", Arial, sans-serif;
  &.modal.fade {
    .modal-dialog {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      transform: translate(0);
    }
  }

  .video-container {
  }
  .close-button {
    position: absolute;
    width: 20px;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  /*.video-container {*/
    /*.play-button {*/
      /*$size: 80px;*/
      /*$width: $size;*/
      /*$height: $size;*/
      /*$triangle-multiplier: .3;*/
      /*$offset: ($width * -.5);*/
      /*$center-coord: 50%;*/
      /*$circle-radius: 50%;*/
      /*$triangle-width: $height * $triangle-multiplier;*/
      /*$triangle-height: ($triangle-width * 1.25);*/
      /*$triangle-lat-offset: ($triangle-width * -.375);*/
      /*$triangle-long-offset: ($triangle-height * -.5);*/
      /*z-index: 10;*/

      /*border-radius: $circle-radius;*/
      /*position: absolute;*/
      /*top: $center-coord;*/
      /*left: $center-coord;*/
      /*margin-top: $offset;*/
      /*margin-left: $offset;*/
      /*width: $width;*/
      /*height: $width;*/
      /*cursor: pointer;*/

      /*.play-triangle {*/
        /*left: $center-coord;*/
        /*margin-left: $triangle-lat-offset;*/
        /*margin-top: $triangle-long-offset;*/
        /*position: absolute;*/
        /*top: $center-coord;*/
        /*width: $triangle-width;*/
        /*height: $triangle-height;*/
        /*z-index: 100;*/
      /*}*/

      /*.circle {*/
        /*z-index: 1;*/
        /*-webkit-transition: background-color .5s;*/
        /*transition: background-color .5s;*/

        /*border-radius: $circle-radius;*/
        /*background-color: rgba(0, 0, 0, .2);*/
        /*border: 2px solid #fff;*/
        /*width: $width;*/
        /*height: $width;*/
        /*position: absolute;*/
        /*top: $center-coord;*/
        /*left: $center-coord;*/
        /*overflow: hidden;*/
        /*margin-top: $offset;*/
        /*margin-left: $offset;*/
      /*}*/

      /*&:hover {*/
        /*.circle {*/
          /*background-color: rgba(0, 0, 0, .4);*/
        /*}*/
        /*.play-triangle {*/
        /*}*/
      /*}*/
    /*}*/
  /*}*/

  /* Variables */
  $black: #000000;
  $blackish: #111111;
  $blue-gray: rgb(77, 87, 103);
  $blue-facebook: #48588F;
  $red: #BE3F3F;
  $gray-light: #B3ACAB;
  $gray-27: #454545;
  $gray-dark: #333;
  $gray-darkest: #1f1f1f;
  $gray-charcoal: #232020;
  $gray-black-button-border: #564E4D;
  $gray-header-border: #413A39;
  $white: #FFFFFF;
  $off-white: rgb(204, 197, 196);

  $font-weight-light: 200;
  $font-weight-heavy: 600;
  $background-color: $black;
  $border-color: $gray-27;
  $font-color: $gray-light;
  $font-size-body: 4vw;
  $line-height-body: 1.4em;
  $header-color: $white;
  $text-shadow-color: $blackish;
  $web-tap-highlight-color: transparent;

  h3, p, span {
    color: $off-white;
    font-weight: 200;
    text-shadow: $text-shadow-color 0px 1px 0px;
  }

  h3 {
    text-transform: uppercase;
  }

  h3.section-title {
    text-align: center;
  }
  hr {
    border-top: 1px solid $gray-27;
  }
  /* ====================================================
    Utilities
   ==================================================== */
  .border-bottom {
    @extend .col-md-12 !optional;
    border-bottom: solid 1px $white;
    min-height: 1px;
  }

  /* ===============================================
     Buttons
   ================================================*/

  .btn.btn-lg {
    border: none;
    border-radius: 0px;
    color: $white !important;
    font-size: 14px;
    font-weight: 200 !important;
    letter-spacing: 3px;
    padding: 18px 10px 18px 13px;
    text-shadow: none !important;
    text-transform: uppercase;

    &.black {
      background-color: $black !important;
      border: $gray-black-button-border 1px solid;
    }

    &.dark-gray {
      background-color: $gray-dark !important;
      border-color: $gray-darkest;
    }

    &.red {
      background-color: $red !important;
    }
    &.blue-gray {
      background-color: rgb(77, 87, 103) !important;
    }
    &.blue-facebook {
      background-color: $blue-facebook !important;
    }
  }

  .normal-button {
    @extend .btn;
    @extend .btn-lg;
    margin-top: 7px;
  }

  .facebook-button,
  .auth-button,
  .cta-button {
    @extend .normal-button;
  }

  .facebook-button {
    @extend .blue-facebook;
  }

  .auth-button {
    @extend .black;
  }

  .cta-button.btn.btn-lg {
    @extend .red;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    font-size: 24px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover {
      background-color: #ab3939 !important;
    }
  }

  .right {
    float: right;
  }

  .clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

/* ==================================
    Modal Styles
   ===================================*/
  [data-main-video-title="true"] {
    text-align: left;
    margin-top: 40px;
  }
  .modal-dialog{
    margin-top: 10px;
    max-height: 18000px;
    width:100%;

  }

  &.modal {
    background: transparent;
  }

  .modal-header {
    border-bottom: none;
    padding-bottom: 0px;
  }

  .video-container {

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      width: 100%;
    }
  }

  .header-wrapper {
    @extend .clearfix;
    margin-top: 30px;
  }

  .video-thumbs-container {
    @extend .clearfix;
    margin: 0 auto;
    margin-top: 30px;
  }

  .video-image-thumb-wrapper {
    &:last-child() {
      margin-right: 0;
    }
    cursor: pointer;
    float: left;
    width: 200px;
    margin-right: 30px;
    img{
      width: 100%
    }
    p {
      text-transform: uppercase;
      background: $gray-dark;
      border: 1px solid $gray-27;
      border-top: none;
      padding: 10px;
      width: 100;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &.active {
      p {
        background: $red;
        text-align: center;
      }
    }
  }
}

